


/** Panels are our containers for layers */

.panel {
	height: 100%;
	min-height:650px;
	position: relative;
}



/*

.layer - movable layers that will scroll at varying levels of inertia
.level-n - 	a depth (z-index) level the item lives on. Where 1 is the foremost layer
			and 10 is the furthest out

*/

.layer {
	position: relative;
	top:0;
	left:0;
}

.layer-group {
	position: relative;
}

.layer-group .layer { /* Layers are relative until they are in a group */
	position: absolute;
}

.level-1 { z-index: 2000; }
.level-2 { z-index: 1900; }
.level-3 { z-index: 1800; }
.level-4 { z-index: 1700; }
.level-5 { z-index: 1600; }


/***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/


/* Demo styles */

html {
	overflow-x: hidden;
}

body {
	font-family: "Century Gothic", "Apple Gothic", Tahoma, Arial, sans-serif;
}

nav {
	width:1000px;
	position: fixed;
	top:0;
	left:50%;
	margin-left:-500px;
	text-align: center;
	z-index: 100000;
	background: rgba(0,0,0,0.5);
}

nav a {
	display: inline-block;
	padding:10px 15px;
	color:#fff;
}

nav a:hover,
nav a:focus,
nav a.active {
	background: rgba(0,0,0,0.5);
}

#content {
	width:1000px;
	margin: 50px auto;
	overflow-x: hidden;
	box-shadow: 0 0 20px #000;
}

.scroll-up .flip img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


.panel{
	padding:50px;
}

#article-1 {
	padding-top:150px;
}

#fruit {
	margin-bottom: 500px;
}

#fruit-apple      { top:-100px; left:-100px; }
#fruit-cheese     { top:200px;  left:500px;  }
#fruit-eggs       { top:100px;  left:500px;  }
#fruit-meat       { top:300px;  left:300px;  }
#fruit-milk       { top:500px;  left:200px;  }
#fruit-orange     { top:600px;  left:400px;  }
#fruit-pear       { top:500px;  left:100px;  }
#fruit-strawberry { top:100px;  left:400px;  }


#beach-scene {
	height: 500px;
	overflow: hidden;
	background: url(../images/sky.jpg) 0 0 no-repeat #2986e3;
}

#scene-sun    { top:-100px; left:510px; }
#scene-surf   { top:500px; left:10px; }
#scene-bike   { top:245px; left:300px; }
#scene-bird   { top:300px; left:10px; }
#scene-beach  { top:315px; left:-100px; }
#scene-tree-1 { top:50px; left:500px; }
#scene-tree-2 { top:100px; left:30px; }
#scene-tree-3 { top:0px; left:500px; }
#scene-tree-4 { top:0px; left:150px; }

#kitty-1,
#kitty-2 {
	height: 500px;
	min-height: 0;
}


#kitty-1 h1,
#kitty-2 h1,
#kitty-2 h2,
#kitty-2 h3 {
	padding:5px;
	font-size: 30px;
	display: inline-block;
	background: rgba(255,255,255,0.4);
}

#kitty-1 {
	background: url(../images/1000.jpg) 50% 0 no-repeat fixed transparent;
}

#kitty-2 {
	background: url(../images/1001.jpg) 50% 0 no-repeat fixed transparent;
}

afooter#footer-links a {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}
